* {
      font-family: 'Ubuntu', sans-serif;
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
}

html{scroll-behavior: smooth;}

button {border: none;}

nav {
      display: flex;
      width: 100%;
      height: 5rem;
      background-color: rgba(136, 44, 64, 0.952);
      align-items: center;
      justify-content: center;
      color: whitesmoke;
      position: fixed;
      z-index: 3;
      box-shadow: 0px 3px 28px 0px #3b3838;
}

#logo{
      position: absolute;
      top: 10px;
      left: 30px;
      width: 60px;
      height: 60px;
      filter: invert(1);
}

a.navbar {
      font-size: 1.3rem;
      margin: 0.5rem;
      padding: 0.2rem 0.8rem;
      text-decoration: none;
      color: whitesmoke;
}

a.navbar:hover {
      background-color: rgba(210, 217, 213,.2);
      border-radius: 16px;
}

#tab-button {
      position: absolute;
      right: 20px;
      display: none;
}

nav .open-tab {
      width: 25px;
      height: 15px;
      top: 43%;
      color: transparent;
      border-top: 3px solid whitesmoke;
      border-bottom: 3px solid whitesmoke;
}

nav .close-tab {
      top: 15%;
      padding: 0;
      color: whitesmoke;
      border: none;
      font-size: 2.8rem;
}

nav .minus-symbol {
      border-top: 3px solid whitesmoke;
      position: relative;
      top: -16px;
}

nav #small-device-menu {
      position: absolute;
      top: 0;
      right: 0;
      width: 70%;
      height: 450px;
      display: flex;
      flex-direction: column;
      background-color: #8e3447;
      z-index: -1;
      display: none;
}

nav #small-device-menu a {
      margin: 1.4rem 1rem;
      width: fit-content;
}

nav #small-device-menu #home-button {
      margin-top: 30px;
}

/*---- home ----*/

div#home {
      display: flex;
      flex-direction: column;
      width: 100%;      
      background-color: #d2d9d5;
}
div#home h1 {
      margin-bottom: 1rem;
      text-shadow: 0px 4px 8px #3f3c3c;
}
div#home p {
      margin: 0.5rem;
      color: #1b3a37;
      text-align: left;
}

#home p:last-child {margin-bottom: 100px;}

/* stopwatch */

div#stopwatch {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      width: 100%;
      height: 700px;
      background-color: rgba(48, 77, 74,.8);
}



.stopwatch {
      margin: 0.4rem;
      padding: 0.5rem;
}

div#stopwatch #heading {
      position: relative;
      margin: 2.2rem;
}

#stopIcon {
    position: absolute;
    left: -20%;
    bottom: 5px;
}

#stopwatch h3 {
      color: whitesmoke;
      background-color: rgb(233, 150, 48);
      text-align: center;
      padding: .6rem 2rem .6rem 2.5rem;
}

div button#start, div button#reset {
      background-color: #BDD6D2;
      border-radius: 30px;
      padding: 0.2rem 0.4rem;
      font-weight: bold;
      cursor: pointer;
}

div button#reset {
      background-color: #FEEEAF;
}
div button#start:hover, div button#reset:hover {
      /* background-color: rgb(176, 197, 176); */
      border: 2px solid black; 
}

div#stopwatch div#sw {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 300px;
      background-color: rgb(173, 181, 187);
      border-radius: 50%;
      font-size: 3rem;
      text-align: center;
      box-shadow: 0px 6px 25px 0px #3b3838;
      margin: 1rem 0;
}

span#stopwatchHour {
      display: none;    
}

div#stopwatch span#centiSecond {
      position: relative;
      bottom: 6.5rem;
      font-size: 1.8rem;
}

      /* clock */

div#clock {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      width: 100%;
      height: 550px;
      background-color: rgba(48, 77, 74,.9);
}

.clock {
      margin: 0.4rem;
      padding: 0.5rem;
}

div#clock div#cHeading {
      position: relative;
      margin: 3.5rem 0px;
}

#clockIcon {
      position: absolute;
      left: -28%;
      bottom: 0px;
}

#clock h3 {
      color: whitesmoke;
      background-color: rgb(37 56 56 / 88%);
      text-align: center;
      padding: .5rem 2rem .5rem 2.5rem;
}
div#clock div#hm {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 200px;
      height: 200px;
      background-color: rgb(172 182 182);
      border-radius: 50%;
      font-size: 3rem;
      box-shadow: 0px 6px 25px 0px #3b3838;
}

div#clock span#second {
      font-size: 1.8rem;
}

      /* timer */

div#timer {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      width: 100%;
      height: 650px;
      background-color: #304D4A;
}

.timer {
      margin: 0.4rem;
      padding: 0.5rem;
}

div#timer div#tHeading {
      position: relative;
      margin: 2.2rem 0px;
}

#timerIcon {
      position: absolute;
      left: -25%;
      bottom: 5px;
}

#timer h3 {
      color: whitesmoke;
      background-color: #1b3a37;
      text-align: center;
      padding: .5rem 2rem .5rem 2.5rem;
}
div#timer div#tm {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 300px;
      background-color: rgb(95, 95, 91);
      color: whitesmoke;
      border-radius: 50%;
      font-size: 3rem;
      text-align: center;
      box-shadow: 0px 6px 25px 0px #213332;
      position: relative;
}
span#timerHour { display: none;}

div button#timerStart, div button#timerReset, div button#setTimer {
      background-color: #BDD6D2;
      height: 38px;
      width: 120px;
      border-radius: 30px;
      padding: 0.2rem 0.5rem;
      font-size: 1.2rem;
      font-weight: bold;
      cursor: pointer;
      margin: 2rem 0.5rem;
}

div button#setTimer {
      position: absolute;
      bottom: 5px;
      height: 35px;
      width: 110px;
      font-size: 1.05rem;
      background-color:#9e9e9b87;
}

div button#timerReset {
      background-color: #FEEEAF;
}
div button#timerStart:hover, div button#timerReset:hover, div button#setTimer:hover, button#setBtn:hover {
      /* background-color: rgb(176, 197, 176); */
      border: 2px solid black;
}

div#setTimebtn {
      display: flex;
      flex-direction: row;
      position: absolute;
      bottom: 28px;
      left: 94px;
      height: 38px;
      width: 140px;
}
div#setTimebtn {
      display: none;
}

input#timerTime, button#setBtn {
      background-color: #BDD6D2;
      padding: 0.2rem 0.3rem;
      font-size: 1rem;
      font-weight: bold;
}

input#timerTime  { 
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      font-size: 1rem;
      width: 80px;
}

button#setBtn {
      background-color: rgb(8, 167, 8);
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
}

/* alarm */

div#alarm {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      width: 100%;
      height: 670px;
      background-color: rgba(48, 77, 74,.8);
}

div#alarm #alarm-heading {
      position: relative;
      margin: 3.4rem 0;
}

#alarm-icon {
    position: absolute;
    left: -50px;
    bottom: -10px;
}

#alarm h3 {
      color: whitesmoke;
      background-color: rgb(233, 150, 48);
      text-align: center;
      padding: .6rem 2rem .6rem 2.5rem;
}

#alarm #alm {
      height: 260px;
      background-color: #D2D9D5;
      padding: 2rem;
      position: relative;
}

#alarm input[type='number'] {
      width: 70px;
      height: 35px;
      border-radius: 4px;
      border: none;
      text-align: center;
      font-size: 1.3rem;
      margin: .3rem;
}

#alarm select {
      padding: 1px;
      position: relative;
      top: 5px;
}

#alarm input[type='range'] {
      position: absolute;
      right: 15px;
      width: 35px;
      height: 12px;
      border-radius: 8px;
      appearance: none;
      background-color: #a0b0a9;
}

#alarm input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: teal;
}


#alarm input[type='text'] {
      width: 120px;
      height: 35px;
      border-radius: 4px;
      position: absolute;
      top: 100px;
      left: 35px;
      border: none;
      text-align: center;
      color: whitesmoke;
      font-size: 1.1rem;
      background-color: #001f2c;
}

div.alarm button {
      width: 150px;
      height: 40px;
      border: none;
      border-radius: 4px;
      margin-top: 2rem;
      cursor: pointer;
      visibility: hidden;
}

.alarm #snooze {
      margin-right: 1rem;
      background-color: grey;
      color: whitesmoke;
}

.alarm #off{
      color: whitesmoke;
      background-color: rgb(238, 56, 35);
}

.alarm button:hover {
      border: 2px solid whitesmoke;
}

/* ---- Footer -----  */

footer {
      height: 250px;
      background-color: #d2d9d5;
      padding: 1rem;
}

footer h4 {font-size: 1.2rem; color: rgb(20, 20, 20);}

footer .social-platforms {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 1rem;
}

footer .social-platforms img {
      width: 50px; 
      height: 50px;
      margin: 1rem;
}

footer .social-platforms img:hover {
      box-shadow: 0px 8px 16px -1px grey;
}

footer p {
      color: rgb(80, 80, 80);
      text-align: center;
      margin-top: 3.5rem;
}

/* ---- resposive ----  */

@media screen and (min-width:761px) {
      #home h1 {font-size: 5rem; padding: .5rem 1.4rem; margin-top: 100px;}
      #home p {font-size: 1.7rem; padding: .5rem 1.4rem;}
      #home {align-items: center;}
      h3 {font-size: 2rem;}
      .icon {width: 90px; height: 90px;}
      #alm {width: 360px;}
      div button#start, div button#reset {
            width: 140px;
            height: 37px;
            margin: 0px 0.5rem;
            font-size: 1.2rem;
      }
}

@media screen and (max-width:760px) {
      #tab-button {display: block;}
      #tab-button::before {visibility: visible;}
      #menu a {display: none;}
      #home h1 {font-size: 3rem; padding: .4rem 1rem; margin-top: 100px;}
      #home p {font-size: 1.2rem; padding: .4rem 1rem;}
      #home {align-items: flex-start;}
      h3 {font-size: 2rem;}
      .icon {width: 80px; height: 80px;}
      #alm {width: 360px;}
      div button#start, div button#reset {
            width: 135px;
            height: 37px;
            margin: 0px 0.4rem;
            font-size: 1.2rem;
      }
}

@media screen and (max-width:450px) {
      h3 {font-size: 1.4rem;}
      .icon {width: 60px; height: 60px;}
      #alm {width: 340px;}
      div button#start, div button#reset {
            width: 130px;
            height: 36px;
            margin: 0px 0.4rem;
            font-size: 1.1rem;
      }
}

@media screen and (max-width:360px) {
      #alm {width: 320px;}
#home h1 {padding: .5rem .6rem;}
      div button#start, div button#reset {
            width: 110px;
            height: 35px;
            margin: 0px 0.3rem;
            font-size: 1.1rem;
      }
}

@media screen and (max-width:320px) {
      #alm {width: 300px;}

}
